.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #5E72E4;
    width: 100%;
    margin-bottom: 40px;

    &__title {
        margin-left: 20px;
        color: white;
    }

    &__option {
        background-color: transparent;
        color:white;
        margin-right:20px;
        align-self: center;
        border: 1px solid lightblue;
        border-radius: 10px;
        font-size: 20px;
        padding: 10px;
    }
}